.list-title {
    text-transform: uppercase;
    color: #6D6D6D;
    font-family: 'Open Sans' sans-serif;
    font-size: .75rem;
    font-weight: 900;
}

.list-title:hover {
    color: #000;
}

.list {
    padding-left: 1rem;
}

.list-item-text {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}