/** Open Sans **/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/** Domine **/

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');
p {
    font-family: 'Domine', serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin: 1rem 0 0 0;
}

.lead {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}